.contact {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
}

.leftArea {
    background-color: #5d3ede;
    width: 30vw;
    height: 90vh;
}

.leftAreaText {
    margin: 3% 18%;
}

img {
    width: 13%;
    margin-top: 5%;
    margin-left: 5%;
}
.contact h1 {
    font-size: 1.5rem;
    line-height: 30px;
    padding-bottom: 5%;
}

.contact h1,
p {
    color: #3dd7ac;
    width: 45%;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

.rightArea {
    background-color: #3dd7ac;
    width: 30vw;
    height: 90vh;
}

/* RIGHT AREA */

.formBox {
    background-color: white;
    margin: 30% 40%;
}

.sidebar {
    flex-basis: 100%;
    width: 100vw;
    background-color: #5d3ede;
}
