.contactThanks {
    height: 100vh;
    background-color: #3ed7ad;
    color: #5d3ede;
    text-align: center;
}

.webStrokeContactThx {
    -webkit-text-stroke: 2px #5d3ede;
    color: #3ed7ad;
}

.text {
    width: 38vw;
    /* border: 1px solid #3ed7ad; */
    margin: 0 auto;
    padding-top: 30vh;
    padding-bottom: 39.35vh;
}

.thx {
    font-size: 4rem;
    margin-bottom: 3%;
    width: 43vw;
}

.contactThanksText {
    font-family: "FiraSansRegular";
    line-height: 15px;
}

.sidebar {
    /* height: 10%; */
    background-color: #5d3ede;
    border: 6px solid white;
    font-size: 4rem;
    text-align: right;
    padding-right: 3%;

    /* padding-top: 0vh; */
}

.link {
    text-decoration: none;
    /* float: right; */
    color: white;
    font-size: 3rem;
}

@media only screen and (max-width: 749px) {
    .contactThanks {
        text-align: center;
    }
    .text {
        text-align: center;
        width: 100vw;
        padding-bottom: 45vh;
    }

    .webStrokeContactThx {
        text-align: center;
    }
    .thx {
        text-align: center;
        font-size: 2rem;
        width: 100vw;
    }

    .contactThanksText {
        width: 90vw;
        margin: auto;
    }
}
