.parent {
    background: #041e37 bottom right/contain no-repeat url("../img/erde_1.png");
    color: #3ed7ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.mainsectionleft {
    display: inline-block;
    margin: 0 1vw 0 5vw;
    width: 60vw;
}

.logo {
    width: 65px;
}

.h1 {
    font-size: 70px;
    color: #041e37;
    -webkit-text-stroke: 2px #3ed7ad;
}

.h2 {
    font-size: 50px;
    overflow-wrap: break-word;
}

.p {
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding: 10vh 0;
}

.buttonblue {
    text-decoration: none;
    margin-right: 20px;
    padding: 7.5px 20px;
    background-color: #057df6;
    color: #3ed7ad;
    border: 2px solid #3ed7ad;
    letter-spacing: 0.2rem;
}

.buttongreen {
    text-decoration: none;
    padding: 9.5px 20px;
    background-color: #3ed7ad;
    color: #057df6;
    letter-spacing: 0.2rem;
    border: 2px solid #057df6;
}

/* Rechte Seite */
.mainsectionright {
    display: inline-block;
    width: 40vw;
    height: 100vh;
    /* padding: 5%; */
}

/* Fabi Filter */
.filterNew {
    margin-top: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.new {
    text-decoration: none;
    padding: 9.5px 20px;
    background-color: #3ed7ad;
    color: #057df6;
    letter-spacing: 0.2rem;
    border: 2px solid #057df6;
    margin-left: 4%;
}

.filter {
    display: flex;
    align-items: center;
    background-color: #057df6;
    color: #3ed7ad;
    border: 2px solid #3ed7ad;
    padding-left: 10%;
}

.filtertext {
    letter-spacing: 0.2rem;
    font-size: 16px;
}

.filterImage {
    background-color: #057df6;
    padding-left: 5px;
    padding-right: 5px;
}

.input {
    width: 17vw;
    background-color: #057df6;
    border: 2px solid #3ed7ad;
}

::placeholder {
    text-align: center;
    font-size: 16px;
    color: rgba(62, 215, 173, 0.6);
}

@media only screen and (max-width: 974px) {
    .h1 {
        font-size: 65px;
    }

    .h2 {
        font-size: 45px;
        overflow-wrap: break-word;
    }

    .p {
        font-size: 20px;
        padding: 10vh 0;
    }
}

@media only screen and (max-width: 935px) {
    .h1 {
        font-size: 65px;
    }

    .h2 {
        font-size: 40px;
        overflow-wrap: break-word;
    }

    .p {
        font-size: 20px;
        padding: 10vh 0;
    }
}

@media only screen and (max-width: 749px) {
    .parent {
        flex-wrap: wrap;
        height: auto;
    }

    .mainsectionleft {
        display: block;
        margin: 0 0 2.5vw 0;
        padding-left: 60px;
        width: 85vw;
    }

    .mainsectionright {
        display: block;
        height: auto;
        width: 85vw;
        padding-left: 60px;
    }

    .filterNew {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 529px) {
    .h1 {
        font-size: 60px;
    }

    .h2 {
        font-size: 25px;
        overflow-wrap: break-word;
    }

    .p {
        font-size: 18px;
        padding: 10vh 0;
    }

    .mainsectionleft {
        display: block;
        padding-left: 50px;
    }

    .mainsectionright {
        display: block;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 337px) {
    .h1 {
        font-size: 50px;
    }

    .h2 {
        font-size: 21px;
        overflow-wrap: break-word;
    }

    .p {
        font-size: 16px;
        padding: 10vh 0;
    }

    .mainsectionleft {
        display: block;
        padding-left: 40px;
    }

    .mainsectionright {
        display: block;
        padding-left: 40px;
    }

    .buttonblue {
        display: block;
        text-align: center;
        margin: 5px 20px;
    }

    .buttongreen {
        display: block;
        margin: 5px 20px;
        text-align: center;
    }
}
