.PollCard {
    background: center/cover no-repeat url("../img/Poll_WhiteCard.png");
    display: flex;
    flex-direction: column;
    font-family: "FiraSansRegular";
    margin: 8%;
    border-radius: 10px;
}

.PollCard:hover{
    transform: scale(1.1);
}

.category {
    color: white;
    background-color: #011627;
    width: 15%;
    text-align: center;
}

.question {
    width: 60%;
    color: #057df6;
    padding: 10%;
    padding-left: 30%;
    font-size: 0.9em;
}

.link{
    margin-left: auto;
}

.arrows{
    width: 30px;
    margin-right: 5px;
}

/* Karte größer werden */
/* transform scale */