.divAnswer{
    color: white;
    display: flex;
    border-bottom: 2px solid rgb(5,125,246,0.3);
}

/* suche nach dem letzten div mit divAnswer in dem kompletten namen */
div[class*=divAnswer]:last-child{
    border: none;
} 

.propsAnswer{
    font-family: "MontserratMedium";
    font-size: 22px;
    padding-left: 2vw;
    padding-right: 18vw;
    padding-bottom: 2vh;
    padding-top: 1vh;
}

/* Denk daran Fabi "LATEGAME" ;-P */
/* Später für das Custom Styling; Denke an die Wildcards */
/* .radioButton{} */
/* QuestionCardAnswer_radioButton__3GzoB */