.questionCard{
    margin-top: 24vh;
    background: url("../img/FrageKarte.png");
    border-radius: 10px;
    margin-bottom: 3vh;
}

.question{
    font-size: 30px;
    color: white;
    padding-top: 5vh;
    padding-left: 15vw;
    padding-bottom: 5vh;
    font-family: "MontserratSemiBold";
    width: 35vw;
}

.formAnswer{
    border: 4px solid rgb(5,125,246,0.3);
    display: inline-block;
    margin-left: 15vw;
    margin-bottom: 5vh;
}