/* Schrift für die Fragen und Antworten (Fabi) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
/* Schrift funktioniert nicht */

.allQuestionCard {
    margin: 30px 0;
    padding: 5vh 5vw;
    color: white;
    /* margin-left: 14vw; */
    background-color: #001728;
    /* font-family: "Montserrat", sans-serif; */
}

.question {
    font-size: 30px;
    margin-bottom: 5vh;
}

.answers {
    border: 2px solid #057df6;
}

.answerOne {
    border-bottom: 1px solid #057df6;
}

.answerTwo {
    border-bottom: 1px solid #057df6;
}
