/* gesamte Seite */
.allQuestion{
    background:
    -14rem 8rem no-repeat url("../img/LillaVector2.png"),
    right center/contain no-repeat url("../img/erde_2.png");
    background-color: #041e37;
    height: 100vh;
    display: flex;
}

.allVoices{
    width: 24vw;
    margin-left: 8vw;
    font-size: 45px;
    color: #3ed7ad;
    margin-top: 2vh; 
}
.webStroke{
    -webkit-text-stroke: 2px #3ed7ad;
    color: #041e37;
}

.questionCard{
    margin-left: 15vw;
}

.skip{
    border: 1px solid #60F1C8;
    color: #60F1C8;
    text-decoration: none;
    background-color: #057DF6;
    border-radius: 5px;
    padding: 0.5vh 1vw;
}