/* ===========================================================================
    load  fonts from fonts directory
*/
@font-face {
    font-family: "Fira Sans Light";
    src: url("./src/assets/fonts/FiraSans-Light.ttf");
}
@font-face {
    font-family: "Fira Sans Regular";
    src: url("./src/assets/fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "Fira Sans Bold";
    src: url("./src/assets/fonts/FiraSans-Bold.ttf");
}

/* ===========================================================================
    import required fonts from fonts.google.com 
    @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    font-family: 'Fira Sans', sans-serif;
*/

/*============================================================================
    hard reset: no margin and padding for all elements!
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans Regular", sans-serif;
}
