.logoWeSuperPeople {
    display: flex;
    align-items: center;
    width: 24vw;
    font-size: 26px;
    color: #3ed7ad;
    padding-top: 18vh;
    margin-left: 8vw;
}

.logo {
    width: 115px;
}

@media only screen and (max-width: 1221px) {
    .logoWeSuperPeople {
        width: unset;
    }
}
