@font-face {
  font-family: "FiraSansBold";
  src: local("FiraSansBold"),
  url("./assets/fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "FiraSansLight";
  src: local("FiraSansLight"),
  url("./assets/fonts/FiraSans-Light.ttf") format("truetype");
  font-weight: lighter;
  }

@font-face {
  font-family: "FiraSansRegular";
  src: local("FiraSansRegular"),
  url("./assets/fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  }

@font-face {
  font-family: "MontserratMedium";
  src: local("MontserratMedium"),
  url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  }

@font-face {
  font-family: "MontserratSemiBold";
  src: local("MontserratSemiBold"),
  url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  }

* {
  margin: 0;
  padding: 0;
  font-family: "FiraSansBold";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}